{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div>
      <i class="bi bi-printer"></i>
      <a class="btn btn-info" href="{% url 'attendanceReport'%}" target="_blank">Print</a>
    </div>
    <div class="card-body">
      <h4 class="card-title">View Attendance</h4>
      <p class="card-description"> View <code>.all employee attendance</code>
      </p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th> # </th>
            <th> Employee </th>
            <th> Date </th>
            <th> In-Time </th>
            <th> Out-Time </th>
            <th> Hours Worked </th>
            <th> View</th>
          </tr>
        </thead>
        <tbody>
          {% for attendance in attendances %}
          <tr>
            <td class="py-1">
              {{ forloop.counter }}
            </td>
            <td> {{attendance.employee}} </td>
            <td>
              {{attendance.date}} 
            </td>
            <td> {{attendance.in_time}}  </td>
            <td> {{attendance.out_time}}  </td>
            <td> {{attendance.total_hours_worked}} Hrs  </td>
            <td> <a class="badge badge-success" href="{% url 'viewAttendance' attendance.id %}">
              View</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

