{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="col-12 grid-margin stretch-card">
  <div class="card">
      <div class="card-body">
          <h4 class="card-title">Register Attendance</h4>
          <p class="card-description"> Register Attendance</p>
          <form class="forms-sample" action="" method="POST">
              {% csrf_token %}
              {% for field in attendanceform %}
              <div class="form-group {% if field.errors %} has-error {% endif %}">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{ field }}
                  {% for error in field.errors %}
                  <span class="help-block" style="color: red">{{ error }}</span>
                  {% endfor %}
              </div>
              {% endfor %}
              <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
              <button class="btn btn-light">Cancel</button>
          </form>
      </div>
  </div>
{% endblock %}

