{% extends 'base.html' %}

{% load static %}

{% block content %}

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">User Account Setting / <span>Password Reset</span></h4>

    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'userSetting' %}"><i class="bx bx-user me-1"></i> Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="javascript:void(0);"
              ><i class="bx bx-bell me-1"></i> Password Reset</a
            >
          </li>
        </ul>
        <div class="card mb-4">

          <hr class="my-0" />
          <div class="card-body">
            <form id="formAccountSettings" method="POST" onsubmit="return false">
              <div class="row">
                <div class="mb-3 col-md-6">
                  <label for="firstName" class="form-label">Old Password</label>
                  <input type="password" name="old_password" class="form-control" id="id_old_password">
                </div>
                <div class="mb-3 col-md-6">
                  <label for="lastName" class="form-label">New Password</label>
                  <input type="password" name="new_password1" class="form-control" id="id_new_password1">
                </div>
                
                <div class="mb-3 col-md-6">
                  <label for="organization" class="form-label">Confirm New Password</label>
                  <input type="password" name="new_password2" class="form-control" id="id_new_password2">
                </div>

              </div>
              <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Save changes</button>
                <a href="{% url 'Home' %}" class="btn btn-outline-secondary">Cancel</a>
              </div>
            </form>
          </div>
          <!-- /Account -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}



    